*{ color: white; }

.App{ 
    height: 100vh;
    background: black;
}
footer {
    background: grey;
    text-align: center;
    color: red;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.mosaicListWrapper {
    display: flex;
    flex-wrap: wrap;
}
.mosaicListWrapper > div{
    background: grey;
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}


